.title{
    font-size:  100px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 0px red,4px 4px 0px blue,6px 6px 0px green;
}



p{
    text-align: center;
}

.one{
    font-size: 20px;
    text-transform: uppercase;
}

.two{
    font-size: 18px;
    text-transform: capitalize;
}


.three{
    font-size: 16px;
    text-transform: lowercase;
}


.fisrt,.second,.third{
    background-color: #eee;
    padding: 20px;
    width: 400px;
    margin: 20px;
}

.third {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
}

a {
    margin: auto;
    padding: 30px;
    color: white;
    font-weight: 800;
    font-size: 50px;
    background-color: green;
    border-bottom: 10px red solid;
    text-decoration-line: none;
    text-align: center;
}