


.parent{
    background-color: #eee;
    width: 800px;

}

.full,.part1-3,.part1-2,.part1-4{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 15px;  
    margin-bottom: 15px;
    margin-right: 0;
    float:left;
    margin-left: 15px;
    background-color: red;
}
p{
    clear: left;
}


.full{
    width:calc( (100% - 30px)/1);
}

.part1-3{
    width:calc((100% - 60px)/3 );
}

.part1-2{
    width:calc((100% - 45px)/2 );
}
.part1-4{
    width:calc((100% - 75px)/4 );
}


.normal,.one,.two{
  
        margin: 20px auto;
        width: 300px;
        font-weight: bold;
        font-size: 1rem;
        padding: 20px;
        background-color: gray; /* Get The Background From Image */
        color: black;
      
}


.one{
    background-color: rgb(128, 128, 128,.1);
}


.two{
    opacity: .1;
}