

:root{
    --marginvalue : 0px;
    --mainColor: #009688;
    --mainPadding: 10px;
}

.parent{
    background-color: #eee;
    padding: 10px;
    margin: 100px auto;
    width: 400px;
    height: 200px;
    text-align: center;
    transition-duration: .5s;
}


.parent:hover{
    --marginvalue:20px;
    margin: var(--marginvalue) auto;
}



 .child{
    background-color: rgb(129, 119, 119);
    padding: 20px;
    transition-delay: .5s;
    transition-duration: 1s;
    margin: var(--marginvalue) auto;
}

/* 
.child:hover{
    margin: 20px auto;
}  */




.imp{
    background-color: #eee !important;
    text-align: center;
    color: black !important;
    padding: 20px;
    width: 400px;
    margin: auto;
    position: relative;
    border: none !important;
    font-size: 0px !important;
    font-weight: bold;
}


.imp::before{
    content: "ELZERO";
    font-size: 20px !important;
    font-weight: bold;

}


.elm {
    padding: var(--mainPadding,10px);
    margin: var(--mainPadding,10px) auto;
    color: var(--mainColor,red);
    border: 5px var(--mainColor,black) solid;
}