
.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: max-content 1fr;
    gap: 10px 10px;
  }



  .grid div{
      background-color: black;
      color: white;
     display: flex;
     padding: 10px;
     justify-content: center;
     align-items: center;
     counter-increment: my_counyter;

  }

  .grid div::before{
      content: "Element";
     
  }

  .grid div::after{
    content: counter(my_counyter);
    padding: 0px 10px;
   
}