

* { 
    padding: 0px;
    margin: 0px;
}

.layout{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: 100px 1fr 100px;
}

footer {
    background-color: green; 
    grid-column: 1/ 6;
}

header{
    background-color: red;
    grid-row: 1/1;
    grid-column: 1/6;
}

section {
    background-color: black;
    grid-column: 1 / 5;
}
aside {
    background-color: yellow;
    grid-column: 5 / 6;
}




