






.first {
    background-color:#FF5721;
    padding: 10px;
    width: 150px;
    height: 90px;
    font-weight: 900;
    font-size: 40px;
    margin: 100px auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 800px;
}




.first::before{
    content: "";
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: -1;
    background-color:#FF5721;
    transform:rotateZ(-10deg)  skewX(-25deg) ;
}




.first::after{
    content: "";
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: -1;
    background-color:#FF5721;
    transform:rotateZ(10deg)  skewX(25deg) ;
}






.second {
    background-color:#009688;
    padding: 10px;
    width: 150px;
    height: 90px;
    font-weight: 900;
    font-size: 40px;
    margin: 100px auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 800px;
    transform: translateX(20px);
}

.second::before{
    content: "";
    width: 25px;
    height: 100%;
    position: absolute;
    left: -60px;
    z-index: -1;
    background-color:#009688;
    transform: skewX(15deg) ;
}



.second::after{
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    left: -20px;
    z-index: -1;
    background-color:#009688;
    transform: skewX(15deg) ;
}


.third {
    background-color:#607D8A;
   
    width: 200px;
    height:150px;
    margin: 100px auto;
    display: flex;
    color: white;
    border-bottom: 5px black solid;
    position: relative;
    perspective: 800px;  
}


.third::after{
    content: "Elzero";
    position: absolute;
    left: 5px;
    bottom:5px;
    color: white;
}



.third::before{
    content: "";
    width: 135px;
    height: 135px;
    transform: translateY(-100px) rotateZ(45deg) translateX(40px); 
    border: 5px white solid;  
    background-color: black;
}
