






.first {
    background-color:#FF5721;
    padding: 10px;
    width: 150px;
    height: 90px;
    font-weight: 900;
    font-size: 40px;
    margin: 100px auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 800px;
}




.first::before{
    content: "";
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: -1;
    background-color:#FF5721;
    transform:rotateZ(-10deg)  skewX(-25deg) ;
}




.first::after{
    content: "";
    width: 100%;
    height: 90%;
    position: absolute;
    z-index: -1;
    background-color:#FF5721;
    transform:rotateZ(10deg)  skewX(25deg) ;
}






.second {
    background-color:#009688;
    padding: 10px;
    width: 150px;
    height: 90px;
    font-weight: 900;
    font-size: 40px;
    margin: 100px auto;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 800px;
    transform: translateX(20px);
}

.second::before{
    content: "";
    width: 25px;
    height: 100%;
    position: absolute;
    left: -50px;
    z-index: -1;
    background-color:#009688;
    transform: skewX(15deg) ;
}



.second::after{
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    left: -20px;
    z-index: -1;
    background-color:#009688;
    transform: skewX(15deg) ;
}